<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @notice.message %>
</p>

<p>
  <b>Sender:</b>
  <%= @notice.sender_id %>
</p>

<p>
  <b>Receiver:</b>
  <%= @notice.receiver_id %>
</p>

<p>
  <b>Type:</b>
  <%= @notice.type %>
</p>


<%= link_to 'Edit', edit_notice_path(@notice) %> |
<%= link_to 'Back', notices_path %>
