<%= form_for album do |f| %>
  <%= f.hidden_field :identity_id ,:value=> 1%>
  <%= f.text_field :name, :placeholder => "Trip Destination" %><br />
  <%= f.text_field :caption, :placeholder => "Caption" %><br />
  <%= f.select(:visibletype, Album::CONSTANT, {}, {:onchange => 'showuserstoselect(this.value)'}) %>
  <div id="selectvalidusers" style="display: none;"></div>
  <button type="button">Create Album</button>
<% end %>
<script>
  $('#new_album button').click(function(event){
    var obj = $('#new_album');
    event.preventDefault();
    GC.Album.create(obj);
  });
</script>
