<%= form_for(album) do |f| %>


<%= f.hidden_field :identity_id ,:value=>current_user1.id%>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :caption %><br />
    <%= f.text_field :caption %>
  </div>
      <div class="field">
    <%= f.label :visibletype %><br />
       <%= f.select(:visibletype, Album::CONSTANT, {}, {:onchange => 'showuserstoselect(this.value)'}) %>
  </div>
    
  <div class="field">
  	<div id="selectvalidusers" style="display: none;">
  	</div>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
