<%= form_for(@album) do |f| %>
<%= f.hidden_field :identity_id ,:value=>1%>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :caption %><br />
    <%= f.text_field :caption %>
  </div>
    <div class="field"> 
    <%= f.label :visibletype %><br />
       <%= f.select(:visibletype, Album::CONSTANT) %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
