<p id="notice"><%= notice %></p>

<p>
  <b>Mainspiderurl:</b>
  <%= @spider_url.mainSpiderUrl %>
</p>

<p>
  <b>Subspiderurl:</b>
  <%= @spider_url.subSpiderUrl %>
</p>


<%= link_to 'Edit', edit_spider_url_path(@spider_url) %> |
<%= link_to 'Back', spider_urls_path %>
