<p id="notice"><%= notice %></p>

<p>
  <b>Photo:</b>
  <%= @tag.photo_id %>
</p>

<p>
  <b>Tag value:</b>
  <%= @tag.tag_value %>
</p>

<p>
  <b>Xpos:</b>
  <%= @tag.xpos %>
</p>

<p>
  <b>Ypos:</b>
  <%= @tag.ypos %>
</p>


<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
