<div id="mesg"></div>
<%= form_tag('/messages/send', :id => 'chat_window') do %>
  <%= button_tag '', :remote => true, :type => "button" %><%= text_area_tag 'msg_body', '' %>
  <div id="channelIdsWithRadio">
    <% Channel.all.each do |channel| %>   
      <%= radio_button_tag 'channel_id', channel.name , false , :onchange => "getMessages2('#{channel.name}', '#{channel.name}');"%>
      <%= label_tag(channel.name) %>
    <% end %>
  </div>
  <%= hidden_field_tag 'sender', current_identity1.name %>
<% end %>

<div id="messages2"></div>