<%= form_tag "/auth/identity/register" , :id => "register_form",  :multipart => true do %>
 
 <% if @identity && @identity.errors.any? %>  
     <div class="error_messages">  
       <h2><%= pluralize(@identity.errors.count, "error") %> prohibited this account from being saved:</h2>  
      <ul>  
      <% @identity.errors.full_messages.each do |msg| %>  
        <li><%= msg %></li>  
       <% end %>  
       </ul>  
     </div>  
   <% end %>  
  
  <div id="signup_left">
  <div class="sign_up_marker">1</div>
  <h2>Tell us a little bit about yourself.</h2>
  <hr class="signup_headline_border"/>
  <ul id="about_yourself_panel">
    <li class="double_column_header">
      <label for="first_name">First Name:</label>
      <label for="last_name">Last Name:</label>
    </li>
    
  <li class="double_column_inputs">
    <%= text_field_tag :name, @identity.try(:name) %>
    <%= text_field_tag :last_name, @identity.try(:last_name) %>
  </li>
   <li>
      <label for="email">Email:</label>
    </li>
    <li>
     <%= text_field_tag :email, @identity.try(:email) %>
    </li>
      <li>
      <label for="email_confirmation">Confirm Email:</label>
    </li>
    <li>
      <%= text_field_tag :confirmemail, @identity.try(:confirmemail) %>
     </li>
     <li>
      <label for="username">Create a username:</label>
    </li>
    <li>
       <%= text_field_tag :username, @identity.try(:username) %>
     </li>
    <li>
      <label for="password">Create a password:</label>
    </li>
    <li>
      <%= password_field_tag :password %>
    </li>
     <li>
      <label for="password_confirmation">Confirm password:</label>
    </li>
    <li>
     <%= password_field_tag :password_confirmation %>
    </li>
     <li>
      <label for="month">Date of Birth:</label>
    </li>
    <li class="dob_inputs">
     <%= text_field_tag :month, @identity.try(:month) %>
       <%= text_field_tag :day, @identity.try(:day) %>
       <%= text_field_tag :year, @identity.try(:year) %>
    </li>
      </li>
    <li>
      <label for="gender">Gender:</label>
    </li>
    <li>
      <%= text_field_tag :gender, @identity.try(:gender) %>
     </li>
     
      </ul>
</div>
<div id="sign_up_right">
  <div class="sign_up_marker">2</div>
  <h2>Then let us know what kind of stuff you're into.</h2>
  <hr class="signup_headline_border"/>
  <p class="instruction_message">Choose at least one:</p>
  <div style="display: inline; float: right;">
    <ul class="category_choice">
      <li class="top_level_category">
        <input type="checkbox" name="categories[]" value="27"  id="categories_"><label for="">Television</label><br>
        <ul>
          <li><input type="checkbox" name="categories[]" value="28"  id="categories_"><label for="">Comedy</label></li>
          <li><input type="checkbox" name="categories[]" value="29"  id="categories_"><label for="">Drama</label></li>
          <li><input type="checkbox" name="categories[]" value="30"  id="categories_"><label for="">Suspense/Horror</label></li>
        </ul>
        <input type="checkbox" name="categories[]" value="31"  id="categories_"><label for="">Entertainment World</label><br>
        <input type="checkbox" name="categories[]" value="32"  id="categories_"><label for="">Magic</label><br>
        <input type="checkbox" name="categories[]" value="33"  id="categories_"><label for="">Conspiracies</label><br>
        <input type="checkbox" name="categories[]" value="34"  id="categories_"><label for="">Night Life</label><br>
        <input type="checkbox" name="categories[]" value="35"  id="categories_"><label for="">Self Improvement</label><br>
        <input type="checkbox" name="categories[]" value="36"  id="categories_"><label for="">Internet</label><br>
        <input type="checkbox" name="categories[]" value="37"  id="categories_"><label for="">Internet Technologies</label><br>
        <input type="checkbox" name="categories[]" value="38"  id="categories_"><label for="">Computers</label><br>
        <input type="checkbox" name="categories[]" value="39"  id="categories_"><label for="">Gadgets</label><br>
        <input type="checkbox" name="categories[]" value="40"  id="categories_"><label for="">Architecture</label><br>
        <input type="checkbox" name="categories[]" value="41"  id="categories_"><label for="">Engineering</label><br>
        <input type="checkbox" name="categories[]" value="42"  id="categories_"><label for="">Space</label><br>
        <input type="checkbox" name="categories[]" value="43"  id="categories_"><label for="">Education</label><br>
        <input type="checkbox" name="categories[]" value="44"  id="categories_"><label for="">Random Fact Of The Day</label><br>
        <input type="checkbox" name="categories[]" value="45"  id="categories_"><label for="">Science</label><br>
        <input type="checkbox" name="categories[]" value="46"  id="categories_"><label for="">Photography</label><br>
        <input type="checkbox" name="categories[]" value="47"  id="categories_"><label for="">Medical</label><br>
        <input type="checkbox" name="categories[]" value="48"  id="categories_"><label for="">Miscellaneous</label><br>
        <input type="checkbox" name="categories[]" value="45"  id="categories_"><label for="">Science</label><br>
        <input type="checkbox" name="categories[]" value="49"  id="categories_"><label for="">Homes</label><br>
      </li>
    </ul>
  </div>
  <div style="display: inline;">
    <ul class="category_choice">
      <li class="top_level_category">
        <input type="checkbox" name="categories[]" value="1"  id="categories_"><label for="">Artwork</label><br>
        <input type="checkbox" name="categories[]" value="2"  id="categories_"><label for="">Auto</label><br>
        <input type="checkbox" name="categories[]" value="3"  id="categories_"><label for="">Animals</label><br>
        <input type="checkbox" name="categories[]" value="4"  id="categories_"><label for="">Boats</label><br>
        <input type="checkbox" name="categories[]" value="5"  id="categories_"><label for="">Funny</label><br>
        <input type="checkbox" name="categories[]" value="6"  id="categories_"><label for="">Electronics</label><br>
        <input type="checkbox" name="categories[]" value="7"  id="categories_"><label for="">Fitness</label><br>
        <input type="checkbox" name="categories[]" value="8"  id="categories_"><label for="">Music</label><br>
        <ul>
          <li><input type="checkbox" name="categories[]" value="9"  id="categories_"><label for="">Country</label></li>
          <li><input type="checkbox" name="categories[]" value="10"  id="categories_"><label for="">Pop/Rock</label></li>
          <li><input type="checkbox" name="categories[]" value="11"  id="categories_"><label for="">Rap</label></li>
          <li><input type="checkbox" name="categories[]" value="12"  id="categories_"><label for="">Electronic</label></li>
        </ul>
      </li>
      <li class="top_level_category">
        <input type="checkbox" name="categories[]" value="13"  id="categories_"><label for="">Sports</label><br>
        <ul>
          <li><input type="checkbox" name="categories[]" value="14"  id="categories_"><label for="">Extreme</label></li>
          <li><input type="checkbox" name="categories[]" value="15"  id="categories_"><label for="">Baseball</label></li>
          <li><input type="checkbox" name="categories[]" value="16"  id="categories_"><label for="">Basketball</label></li>
          <li><input type="checkbox" name="categories[]" value="17"  id="categories_"><label for="">Football</label></li>
          <li><input type="checkbox" name="categories[]" value="18"  id="categories_"><label for="">Soccer</label></li>
          <li><input type="checkbox" name="categories[]" value="19"  id="categories_"><label for="">Hockey</label></li>
        </ul>
      </li>
      <li class="top_level_category">
        <input type="checkbox" name="categories[]" value="20"  id="categories_"><label for="">Books</label><br>
        <input type="checkbox" name="categories[]" value="21"  id="categories_"><label for="">Business</label><br>
        <input type="checkbox" name="categories[]" value="22"  id="categories_"><label for="">News</label><br>
        <input type="checkbox" name="categories[]" value="23"  id="categories_"><label for="">World News</label><br>
        <input type="checkbox" name="categories[]" value="24"  id="categories_"><label for="">Nature</label><br>
        <input type="checkbox" name="categories[]" value="25"  id="categories_"><label for="">College</label><br>
        <input type="checkbox" name="categories[]" value="26"  id="categories_"><label for="">Movies</label><br>
      </li>
    </ul>
  </div>
</div>
<div style="clear: both;"><br/></div>
<div id="sign_up_get_started">
  <div class="sign_up_marker">3</div>
  <h2>Get started!</h2>
  <hr class="signup_headline_border"/>
  <ul>
    <li><label for=""><span class="instruction_message tos_link">I agree to the terms of service</span></label><input type="checkbox" name="tos_agreement" id="tos_agreement"></li>
    <li><%= submit_tag "Create Account" %></li>
  </ul>
   <span class="new_to_greenchat">You Already Have An Account?  <img src="images/icons/Login_leaf.png" class="sign_up_icon" /> <%= link_to "Log in.", 'javascript:void(0);' ,:onclick => "javascript:showlogin();" , :class =>"create_an_account" %></span> 
</div>
  
 <% end %>
