<%= form_tag "/auth/identity/register" , :id => "register_form",  :multipart => true do %>
 
  <div id="signup_left">
  <div class="sign_up_marker">1</div>
  <h2>Tell us a little bit about yourself.</h2>
  <hr class="signup_headline_border"/>
  <ul id="about_yourself_panel">
    <li class="double_column_header">
      <label for="first_name">First Name:</label>
      <label for="last_name">Last Name:</label>
    </li>
    
  <li class="double_column_inputs">
    <%= text_field_tag :name, @identity.try(:name) %>
    <%= text_field_tag :last_name, @identity.try(:last_name) %>
  </li>
   <li>
      <label for="email">Email:</label>
    </li>
    <li>
     <%= text_field_tag :email, @identity.try(:email) %>
    </li>
      <li>
      <label for="email_confirmation">Confirm Email:</label>
    </li>
    <li>
      <%= text_field_tag :confirmemail, @identity.try(:confirmemail) %>
     </li>
     <li>
      <label for="username">Create a username:</label>
    </li>
    <li>
       <%= text_field_tag :username, @identity.try(:username) %>
     </li>
    <li>
      <label for="password">Create a password:</label>
    </li>
    <li>
      <%= password_field_tag :password %>
    </li>
     <li>
      <label for="password_confirmation">Confirm password:</label>
    </li>
    <li>
     <%= password_field_tag :password_confirmation %>
    </li>
     <li>
      <label for="month">Date of Birth:</label>
    </li>
    <li class="dob_inputs">
     <%= text_field_tag :month, @identity.try(:month) %>
       <%= text_field_tag :day, @identity.try(:day) %>
       <%= text_field_tag :year, @identity.try(:year) %>
    </li>
      </li>
    <li>
      <label for="gender">Gender:</label>
    </li>
    <li>
      <%= text_field_tag :gender, @identity.try(:gender) %>
     </li>
     
      </ul>
</div>
<div id="sign_up_right">
  <div class="sign_up_marker">2</div>
  <h2>Then let us know what kind of stuff you're into.</h2>
  <hr class="signup_headline_border"/>
  <p class="instruction_message">Choose at least one:</p>
  <div style="display: inline; float: right;">
    <ul class="category_choice">
      <li class="top_level_category">
        <input type="checkbox" name="categories[]" value="94"  id="categories_"><label for="">Television</label><br>
        <ul>
          <li><input type="checkbox" name="categories[]" value="95"  id="categories_"><label for="">Comedy</label></li>
          <li><input type="checkbox" name="categories[]" value="96"  id="categories_"><label for="">Drama</label></li>
          <li><input type="checkbox" name="categories[]" value="97"  id="categories_"><label for="">Suspense/Horror</label></li>
        </ul>
        <input type="checkbox" name="categories[]" value="98"  id="categories_"><label for="">Entertainment World</label><br>
        <input type="checkbox" name="categories[]" value="99"  id="categories_"><label for="">Magic</label><br>
        <input type="checkbox" name="categories[]" value="100"  id="categories_"><label for="">Conspiracies</label><br>
        <input type="checkbox" name="categories[]" value="101"  id="categories_"><label for="">Night Life</label><br>
        <input type="checkbox" name="categories[]" value="102"  id="categories_"><label for="">Self Improvement</label><br>
        <input type="checkbox" name="categories[]" value="103"  id="categories_"><label for="">Internet</label><br>
        <input type="checkbox" name="categories[]" value="104"  id="categories_"><label for="">Internet Technologies</label><br>
        <input type="checkbox" name="categories[]" value="105"  id="categories_"><label for="">Computers</label><br>
        <input type="checkbox" name="categories[]" value="106"  id="categories_"><label for="">Gadgets</label><br>
        <input type="checkbox" name="categories[]" value="107"  id="categories_"><label for="">Architecture</label><br>
        <input type="checkbox" name="categories[]" value="108"  id="categories_"><label for="">Engineering</label><br>
        <input type="checkbox" name="categories[]" value="109"  id="categories_"><label for="">Space</label><br>
        <input type="checkbox" name="categories[]" value="110"  id="categories_"><label for="">Education</label><br>
        <input type="checkbox" name="categories[]" value="111"  id="categories_"><label for="">Random Fact Of The Day</label><br>
        <input type="checkbox" name="categories[]" value="112"  id="categories_"><label for="">Science</label><br>
        <input type="checkbox" name="categories[]" value="113"  id="categories_"><label for="">Photography</label><br>
        <input type="checkbox" name="categories[]" value="114"  id="categories_"><label for="">Medical</label><br>
        <input type="checkbox" name="categories[]" value="115"  id="categories_"><label for="">Miscellaneous</label><br>
        <input type="checkbox" name="categories[]" value="116"  id="categories_"><label for="">Science</label><br>
        <input type="checkbox" name="categories[]" value="117"  id="categories_"><label for="">Homes</label><br>
      </li>
    </ul>
  </div>
  <div style="display: inline;">
    <ul class="category_choice">
      <li class="top_level_category">
        <input type="checkbox" name="categories[]" value="68"  id="categories_"><label for="">Artwork</label><br>
        <input type="checkbox" name="categories[]" value="69"  id="categories_"><label for="">Auto</label><br>
        <input type="checkbox" name="categories[]" value="70"  id="categories_"><label for="">Animals</label><br>
        <input type="checkbox" name="categories[]" value="71"  id="categories_"><label for="">Boats</label><br>
        <input type="checkbox" name="categories[]" value="72"  id="categories_"><label for="">Funny</label><br>
        <input type="checkbox" name="categories[]" value="73"  id="categories_"><label for="">Electronics</label><br>
        <input type="checkbox" name="categories[]" value="74"  id="categories_"><label for="">Fitness</label><br>
        <input type="checkbox" name="categories[]" value="75"  id="categories_"><label for="">Music</label><br>
        <ul>
          <li><input type="checkbox" name="categories[]" value="76"  id="categories_"><label for="">Country</label></li>
          <li><input type="checkbox" name="categories[]" value="77"  id="categories_"><label for="">Pop/Rock</label></li>
          <li><input type="checkbox" name="categories[]" value="78"  id="categories_"><label for="">Rap</label></li>
          <li><input type="checkbox" name="categories[]" value="79"  id="categories_"><label for="">Electronic</label></li>
        </ul>
      </li>
      <li class="top_level_category">
        <input type="checkbox" name="categories[]" value="80"  id="categories_"><label for="">Sports</label><br>
        <ul>
          <li><input type="checkbox" name="categories[]" value="81"  id="categories_"><label for="">Extreme</label></li>
          <li><input type="checkbox" name="categories[]" value="82"  id="categories_"><label for="">Baseball</label></li>
          <li><input type="checkbox" name="categories[]" value="83"  id="categories_"><label for="">Basketball</label></li>
          <li><input type="checkbox" name="categories[]" value="84"  id="categories_"><label for="">Football</label></li>
          <li><input type="checkbox" name="categories[]" value="85"  id="categories_"><label for="">Soccer</label></li>
          <li><input type="checkbox" name="categories[]" value="86"  id="categories_"><label for="">Hockey</label></li>
        </ul>
      </li>
      <li class="top_level_category">
        <input type="checkbox" name="categories[]" value="87"  id="categories_"><label for="">Books</label><br>
        <input type="checkbox" name="categories[]" value="88"  id="categories_"><label for="">Business</label><br>
        <input type="checkbox" name="categories[]" value="89"  id="categories_"><label for="">News</label><br>
        <input type="checkbox" name="categories[]" value="90"  id="categories_"><label for="">World News</label><br>
        <input type="checkbox" name="categories[]" value="91"  id="categories_"><label for="">Nature</label><br>
        <input type="checkbox" name="categories[]" value="92"  id="categories_"><label for="">College</label><br>
        <input type="checkbox" name="categories[]" value="93"  id="categories_"><label for="">Movies</label><br>
      </li>
    </ul>
  </div>
</div>
<div style="clear: both;"><br/></div>
<div id="sign_up_get_started">
  <div class="sign_up_marker">3</div>
  <h2>Get started!</h2>
  <hr class="signup_headline_border"/>
  <ul>
    <li><label for=""><span class="instruction_message tos_link">I agree to the terms of service</span></label><input type="checkbox" name="tos_agreement" id="tos_agreement"></li>
    <li><%= submit_tag "Create Account" %></li>
  </ul>
   <span class="new_to_greenchat">You Already Have An Account?  <img src="images/icons/Login_leaf.png" class="sign_up_icon" /> <%= link_to "Log in.", 'javascript:void(0);' ,:onclick => "javascript:showlogin();" , :class =>"create_an_account" %></span> 
</div>
  
 <% end %>
