<%= form_tag "/auth/identity/register" , :id => "register_form",  :multipart => true do %>
 
  <div id="signup_left">
  <div class="sign_up_marker">1</div>
  <h2>Tell us a little bit about yourself.</h2>
  <hr class="signup_headline_border"/>
  <ul id="about_yourself_panel">
    <li class="double_column_header">
      <label for="first_name">First Name:</label>
      <label for="last_name">Last Name:</label>
    </li>
    
  <li class="double_column_inputs">
    <%= text_field_tag :name, @identity.try(:name) %>
    <%= text_field_tag :last_name, @identity.try(:last_name) %>
  </li>
   <li>
      <label for="email">Email:</label>
    </li>
    <li>
     <%= text_field_tag :email, @identity.try(:email) %>
    </li>
      <li>
      <label for="email_confirmation">Confirm Email:</label>
    </li>
    <li>
      <%= text_field_tag :confirmemail, @identity.try(:confirmemail) %>
     </li>
     <li>
      <label for="username">Create a username:</label>
    </li>
    <li>
       <%= text_field_tag :username, @identity.try(:username) %>
     </li>
    <li>
      <label for="password">Create a password:</label>
    </li>
    <li>
      <%= password_field_tag :password %>
    </li>
     <li>
      <label for="password_confirmation">Confirm password:</label>
    </li>
    <li>
     <%= password_field_tag :password_confirmation %>
    </li>
     <li>
      <label for="month">Date of Birth:</label>
    </li>
    <li class="dob_inputs">
     <%= text_field_tag :month, @identity.try(:month) %>
       <%= text_field_tag :day, @identity.try(:day) %>
       <%= text_field_tag :year, @identity.try(:year) %>
    </li>
      </li>
    <li>
      <label for="gender">Gender:</label>
    </li>
    <li>
      <%= text_field_tag :gender, @identity.try(:gender) %>
     </li>
     
      </ul>
</div>
<div id="sign_up_right">
  <div class="sign_up_marker">2</div>
  <h2>Then let us know what kind of stuff you're into.</h2>
  <hr class="signup_headline_border"/>
  <p class="instruction_message">Choose at least one:</p>
  <ul class="category_choice">
    <li class="top_level_category">
      <input type="checkbox" name="categories[]" value="37"  id="categories_"><label for="">Music</label><br>
      <ul>
        <li><input type="checkbox" name="categories[]" value="38"  id="categories_"><label for="">Country</label></li>
        <li><input type="checkbox" name="categories[]" value="39"  id="categories_"><label for="">Pop</label></li>
        <li><input type="checkbox" name="categories[]" value="40"  id="categories_"><label for="">Rock</label></li>
        <li><input type="checkbox" name="categories[]" value="41"  id="categories_"><label for="">Rap/Hip Hop</label></li>
      </ul>
    </li>
    <li class="top_level_category">
      <input type="checkbox" name="categories[]" value="42"  id="categories_"><label for="">Sports</label><br>
      <ul>
        <li><input type="checkbox" name="categories[]" value="43"  id="categories_"><label for="">Extreme</label></li>
        <li><input type="checkbox" name="categories[]" value="44"  id="categories_"><label for="">Baseball</label></li>
        <li><input type="checkbox" name="categories[]" value="45"  id="categories_"><label for="">Basketball</label></li>
        <li><input type="checkbox" name="categories[]" value="46"  id="categories_"><label for="">Football</label></li>
        <li><input type="checkbox" name="categories[]" value="47"  id="categories_"><label for="">Soccer</label></li>
        <li><input type="checkbox" name="categories[]" value="48"  id="categories_"><label for="">Hockey</label></li>
      </ul>
    </li>
    <li class="top_level_category">
      <input type="checkbox" name="categories[]" value="49"  id="categories_"><label for="">Television</label><br>
      <ul>
        <li><input type="checkbox" name="categories[]" value="50"  id="categories_"><label for="">Comedy</label></li>
        <li><input type="checkbox" name="categories[]" value="51"  id="categories_"><label for="">Drama</label></li>
        <li><input type="checkbox" name="categories[]" value="52"  id="categories_"><label for="">Suspense</label></li>
        <li><input type="checkbox" name="categories[]" value="53"  id="categories_"><label for="">Horror</label></li>
      </ul>
    </li>
    <li class="top_level_category">
      <input type="checkbox" name="categories[]" value="54"  id="categories_"><label for="">Movies</label><br>
    </li>
  </ul>
</div>
<div id="sign_up_get_started">
  <div class="sign_up_marker">3</div>
  <h2>Get started!</h2>
  <hr class="signup_headline_border"/>
  <ul>
    <li><label for=""><span class="instruction_message tos_link">I agree to the terms of service</span></label><input type="checkbox" name="tos_agreement" id="tos_agreement"></li>
    <li><%= submit_tag "Create Account" %></li>
  </ul>
   <span class="new_to_greenchat">You Already Have An Account?  <img src="images/icons/Login_leaf.png" class="sign_up_icon" /> <%= link_to "Log in.", 'javascript:void(0);' ,:onclick => "javascript:showlogin();" , :class =>"create_an_account" %></span> 
</div>
  
 <% end %>
