<% if current_user1 %>
         
                  
<div id="green_chat">
  <section>
    <header>
      <ul class="gidget_header_right">

        <li>
          <div class="arrow-up-right maximize"></div>
        </li>
        <li>
          <div class="refresh_and_settings">
            <img src="images/icons/RefreshHover.png" />
            <img src="images/icons/SettingsHover.png" />
          </div>
        </li>
      </ul>
      <ul class="gidget_header_left">
        <li>
          <img src="images/icons/RateMy_Icon.png" class="gidgetIcon" />
        </li>
        <li>
          <div class="title_and_message">
            <span class="title">Rate My</span>
            <div class="sub_title">Sort By: <span>newest</span></div>
          </div>
        </li>
      </ul>
    </header>
    
    <ul class="rm_article_list">
          <% if current_identity1.categories %>
<% current_identity1.categories.each do |category| %>
      
      <% Post.where(:category_id => category).order("score DESC").sample(5).each do |post| %>
      <li class="rm_article">
        <ul class="rm_article_info">
          <li>
            <div class="rm_date"><%= post.created_at %> 
            <%= link_to image_tag("icons/UpOpen.png"), "javascript:void(0);", 'data-source' => "identities/posts/rate_up/#{post.id}", :class => "rate_up", :onclick => "rateposts('identities/posts/rate_up/#{post.id}')" %> 
	        <%= link_to image_tag("icons/DownOpen.png"), "javascript:void(0);", :remote => true, :onclick => "rateposts('identities/posts/rate_down/#{post.id}')" %>
            </div>
            <div class="rm_author"><%= render :partial =>"identities/postedbyform" ,:locals=>{:identity=>Identity.find_by_id(post.user_id)}%></div>
          </li>
          <li>
            <div class="rm_content">
              <p><%= post.title %></p>
            </div>
          </li>
          <li>
            <div class="rm_social_panel">
              <img src="images/icons/sharing/Share_Facebook.png" alt=""><img src="images/icons/sharing/Share_Twitter.png" alt=""><img src="images/icons/sharing/Rating_Thumb.png" alt=""><p class="rm_rating"><%= number_to_percentage((post.score*100), :precision => 0) %></p> <img src="images/icons/sharing/Share_AddToMy.png" alt=""><img src="images/icons/sharing/Share_Greenchat.png" alt="">
            </div>
            <div class="comment_count"><%=Postcomment.find_all_by_post_id(post.id).count%>
            <%=link_to  'Comments','javascript:void(0);', :onclick => "javascript:jQuery.facebox(document.getElementById('comment_#{post.id}').innerHTML)" %>
 <div id="comment_<%=post.id%>" style="display:none;">
          

<%= render :partial =>"posts/comments" ,:locals=>{:postcomment=>Postcomment.new(:post_id=>post.id,:identity_id=>current_identity1.id)}%>
<%= render :partial =>"posts/commentsshow1" ,:locals=>{:postcomments=>Postcomment.find_all_by_post_id(post.id)}%>

   
   </div>    
            </div>
          </li>
        </ul>
        <div class="rm_image">
             <% if !post.image.nil? %>
	                 <%=image_tag(post.image.url)%>
	         <% end %>
        </div>
      </li>
      <% end %>
      
        <% end %>
          <% end %>
        
    </ul>
  </section>
</div>
                     
<% end %>    
 