<h1>Signup</h1> <br/>
If you have account already <a href="http://localhost:3000/log_in">Login</a><br/>


<%= form_tag "/auth/identity/register" , :multipart => true do %>
 
  <div class="field">
    <%= label_tag 'First Name' %><br>
    <%= text_field_tag :name, @identity.try(:name) %>
  </div>
   
   <div class="field">
    <%= label_tag :last_name %><br>
    <%= text_field_tag :last_name, @identity.try(:last_name) %>
  </div>
  <div class="field">
    <%= label_tag :email %><br>
    <%= text_field_tag :email, @identity.try(:email) %>
  </div>
  <div class="field">
    <%= label_tag :password %><br>
    <%= password_field_tag :password %>
  </div>
  <div class="field">
    <%= label_tag :password_confirmation %><br>
    <%= password_field_tag :password_confirmation %>
  </div>
  
  <div class="field">
    <%= label_tag :zipcode %><br>
    <%= text_field_tag :zipcode, @identity.try(:zipcode) %>
  </div>
  
    <ul id="category_select">
	    <% Category.all.map do |category| %>
	      <li class="category_box"><label for="checkbox"><%= category.name %></label><input type="checkbox" name="categories[]" value="<%= category.id %>" /></li>
	    <%	end  %>
    </ul>
  
  <br/>
   <div class="actions"><%= submit_tag "Register" %></div>
<% end %>

