<p id="notice"><%= notice %></p>

<div class="content">
  <div id="identity_content" class="mercury-region" data-type="editable">
     identity Email: <%= raw @identity.email %>
  </div>
  
<ul class="rateMyCategories">
<% @identity.categories.each do |category| %>
  <li class="rateMyCategoriesList">
    <ul class="rateMyCategory">
      <li>Category</li>
      <% Post.where(:category_id => category).order("score DESC").sample(5).each do |post| %>
        <li class="rateMyCategoryItem"><%= post.title %> <span class='<%= "post_#{post.id} score" %>'><%= number_to_percentage((post.score*100), :precision => 0) %></span> Like this!</li>
        <ul>
          <li>
            <% if !post.image.nil? %>
              <%= post.image %>
            <% end %>
          </li>
          <li><%= post.content %></li>
          <li><%= post.score %></li>
          <li><%=	link_to "Like!", "posts/rate_up/#{post.id}.json", 'data-source' => "posts/rate_up/#{post.id}.json", :class => "rate_up" %></li>
          <li><%=	link_to "Dislike!", "posts/rate_down/#{post.id}.json", :remote => true %></li>
        </ul>
      <% end %>
    </ul>
  </li>
<% end %>
</ul>
</div>


  
  