<%= render :partial =>"albums/form1" ,:locals=>{:album=>Album.new()}%>

<%= form_for photo, :html => {:multipart => true , :onsubmit => "photosFormSubmit(this);return false;"}  do |f| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>
      <ul>
      <% photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.hidden_field :identity_id %>

<%= render :partial =>"photos/albums" ,:locals=>{:album=>Album.find_all_by_identity_id(current_user1.id)}%>
  <p>
    
   <%=image_tag(photo.image.url)%>
     
      <%= f.label :photo ,'Photo:' %>
	  <%= f.file_field :image %>
	   <input type="hidden" name="photo[id]" id="photo_id" value=""/>
    </p><br />
    
    <p>
    <%= f.label :caption ,'Caption:' %>
	         <%= f.text_field :caption %>
    </p><br />
    
     <div class="field">
    <%= f.label 'Publish' %>
   
    <%= f.select(:visible,  Photo::CONSTANT) %>
  </div>
      <div class="field">
    <%= f.label :publishdate %>(yyyy-mm-dd):<br />
    <%= f.text_field :publishdate%>
  </div>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
