<%= render :partial => "albums/form1", :locals=>{:album=>Album.new()}%>
<%= form_for photo, :remote => true, :html => {:multipart => true} do |f| %>
  <%= f.hidden_field :identity_id %>
  <% # render :partial => "photos/albums", :locals=>{:album=>Album.find_all_by_identity_id(current_user.id)}%>
  <% #image_tag(photo.image.url)%>
  <%= f.file_field :image %>
  <input type="hidden" name="photo[id]" id="photo_id" value=""/>
  <br />
  <%= f.text_field :caption, :placeholder => "Image Caption" %>
  <br />
  <select name="category_id">
    <% Category.all.each do |category| %>
      <li class="photo_category_option">
        <option value="<%= category.id %>"><%= category.name.humanize %></option>
      </li>
    <% end %>
  </select>
  <br />
  <%= f.select(:visible,  Photo::CONSTANT) %>
  <button type="submit">Upload Photo</button>
<% end %>
<script>
  $('#new_photo button').click(function(event){
    //var obj = $('#new_photo');
    //event.preventDefault();
    //GC.Photo.create(obj);
  });
</script>
