<%= form_for post, :html => {:multipart => true} do |f| %>
  <% if post.errors.any? %>
  <% end %>
  <input type="hidden" name="post[id]" id="post_id" value=""/>
  <input type="hidden" name="image_url" value="" id="image_url"/>
  <input type="hidden" name="method_type" value="post" id="method_type"/>
  <%= hidden_field_tag(:user_id, 1) %>
  <%= hidden_field_tag(:hiddenld) %>
  <h5>Add Post</h5>
  <%= f.text_field :title %><br />
  <%= f.text_area :content , :rows=> 1, :cols => 26 %><br />
  <%= f.file_field :image %><br />
  <%= f.text_field :remote_image_url %>
  <%= hidden_field_tag(:url) %>
  <br />
  <select name="category_id">
    <% Category.all.each do |category| %>
      <li class="post_category_option">
        <option value="<%= category.id %>"><%= category.name.humanize %></option>
      </li>
    <% end %>
  </select>
  <br />
  <%= f.label :visible, "Post Now? " %><%= f.check_box :visible %>
  <button type="button">Submit</button>
<% end %>
<script>
  $(function(){
    $('#new_post button[type=button]').bind('click', function(event){
      event.preventDefault();
      GC.Post.create($('#new_post'),$.User);
    });
  });
</script>