<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
  <%= csrf_meta_tag %>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
  <%= javascript_include_tag :application %>
  <style type="text/css">
    * {
      font-family: "Helvetica",Arial,sans-serif;
    }
    h1, h2, h3, h4, h5, h6 {
    
    }
    h5 {
      margin: 0;
      padding: 0;
    }
    ul, li {
      margin: 0;
      padding: 0;
    }
    li {
      list-style-type: none;
    }
    /*.ticker {
      background: none repeat scroll 0 0 #F0F0F0;
      border: 1px solid #89C655;
      border-radius: 3px 3px 3px 3px;
      left: 12%;
      padding: 4px;
      position: relative;
      top: -22px;
    }*/
    .slideUp, .slideDown {
      background: none repeat scroll 0 0 #ABABAB;
      opacity: 0;
      position: relative;
      text-align: center;
      width: 65px;
      z-index: 999;
    }
    .slideDown {
      bottom: 0;
      position: absolute;
    }
    .slideUp:hover, .slideDown:hover {
      opacity: 0.4;
    }
    .arrowUp {
      border-bottom: 7px solid white;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      height: 0;
      position: relative;
      top: -13px;
      width: 0;
    }
    .arrowDown {
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid white;
      height: 0;
      position: relative;
      top: 12px;
      width: 0;
    }
    .arrowRight {
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-left: 7px solid white;
    }
    .arrowLeft {
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent; 
      border-right: 7px solid white;
    }
    header.mainHeader {}
    .userOptions {
      border: 1px solid #333;
      display: none;
      height: 150px;
      width: 100px;
    }
    #ajaxLoad {
      background: #ececec;
      left: 0;
      opacity: .5;
      position: fixed;
      top: 0;
      width: 100%;
    }
    #ajaxLoad img {
      left: 50%;
      position: relative;
      top: 50%;
    }
    #appWrapper {
      display: none;
    }
    #appWrapper section {
      border: 1px solid #333333;
      display: inline-block;
      margin: 0.333em;
      overflow: hidden;
      position: relative;
      vertical-align: top;
      width: 32.5%;
    }
    #appWrapper section #postsWrapper, #appWrapper section #postForm  {
      height: 91%;
      overflow-x: hidden;
      overflow-y: scroll;
    }
    #appWrapper section #postForm {
      display: none;
    }
    #appWrapper section header {
      background: none repeat scroll 0 0 #E1E1E1;
      border-bottom: 1px solid #333333;
      height: 1.8em;
    }
    #appWrapper section header ul {}
    #appWrapper section header ul li {
      display: inline;
    }
    #appWrapper section header ul li ul {}
    #appWrapper section header ul li ul li {
      display: block;
    }
    #appWrapper section header ul li ul li.max {  
      background: url("images/icons/MaximizeHover.png") no-repeat scroll 0 0 transparent;
    }
    #appWrapper section header ul li ul li.min {  
      background: url("images/icons/MinimizeHover.png") no-repeat scroll 0 0 transparent;
    }
    #appWrapper section header ul li ul li.sizer {
      float: right;
      height: 10px;
      opacity: .5;
      position: relative;
      right: 2px;
      top: 2px;
      width: 11px;
    }
    #appWrapper section header ul li ul li.options img {
      opacity: .5;
    }
    #appWrapper section header ul li ul li.sizer:hover, #appWrapper section header ul li ul li.options img:hover {
      opacity: 1;
    }
    #appWrapper section header ul li ul li.options {
      float: right;
      position: relative;
      right: -9px;
      top: 11px;
      width: 2.5em;
    }
    #appWrapper section header ul li.icon {
      height: 20px;
      left: 2px;
      position: relative;
      top: 2px;
      width: 20px;
    }
    #appWrapper section header ul li ul li.title, #appWrapper section header ul li ul li.status {
      color: #666;
      left: 1.5em;
      position: relative;
      top: -1.5em;
      width: 5em;
    }
    #appWrapper section header ul li ul li.status {
      font-size: 0.6em;
      left: 2.6em;
      position: relative;
      top: -3em;
      width: 70%;
    }
    #appWrapper section aside.optionsShade {
      background: none repeat scroll 0 0 #FFFFFF;
      border: 1px solid #777777;
      float: right;
      font-size: 0.75em;
      height: 6.5em;
      overflow: hidden;
      padding: 3px;
      position: absolute;
      right: -1px;
      top: 29px;
      width: 6.5em;
      z-index: 999;
    }
    
    /* Begin Splash CSS */
    #splash {
      background: #fff;
      height: 100%;
      width: 100%;      
    }

    #splash_header {
      border-top: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6;
      height: 42px;
    }

    .logo_text {
      color: #7E8782;
      font-family: Trebuchet MS;
      font-size: 18pt;
      font-weight: normal;
      position: relative;
      top: 20%;
      left: 1%;
    }

    .logo_highlight {
      color: #89C655;
    }

    .logo_1 {
      margin: 0 5px 12px;
    }

    .logo_2 {
      margin: 10px 0;
    }

    #splash_form {
      margin: 20px auto;
      padding: 5px;
      position: relative;
      width: 19em;
    }

    #splash_form header {
      margin: auto;
      width: 100%
    }

    #splash_form header > h2 {
      font-size: 10pt;
      margin: 3.25px;
    }

    input, button, textarea {
      border: 1px solid #B7B7B7;
      margin: 10px 0;
      padding: 2px;
    }

    .button_to > button {
      width: 75px;
    }
    
    #auth_key, #password {
      width: 22.35em;
    }

    .splash_form_login_button {
    }

    /*.splash_message_border {
      border-bottom: 1px solid #e6e6e6;
      margin: 5px auto;
    } */
    
    #manageFriends {
      background: none repeat scroll 0 0 #E9E9E9;
      border: 1px solid #CCCCCC;
      display: none;
      font: 0.8em verdana;
      padding: 4px;
      position: fixed;
      right: 7.6em;
      text-decoration: underline;
      top: 39px;
      width: 13.25em;
    }
    
    #manageFriends button:hover {
      border: 1px solid green;
    }
    
    #manageFriends button.friended {
      border: 1px solid #6EBE47;
    }

    #login_button_link_panel {
    }

    .password_recovery_link {
      display: inline;
      float: right;
      font-size: 8pt;
      position: relative;
      right: 0;
      top: 17px;
    }

    .password_recovery_link:hover, .tos_link:hover, .create_an_account:hover {
      color: #89C655;
      cursor: pointer;
    }

    .new_to_greenchat, .create_an_account {
      font-size: 10pt;
    }
    
    .create_an_account {
      float: right;
      position: relative;
      right: 0;
    }
    
    .new_to_greenchat {
      color: #89C655;
      font-weight: 700;
    }
    
    .sign_up_icon {
      left: 20px;
      position: relative;
    }
    /* End Splash CSS */

    #rateMy article {
      overflow: hidden;
    }
    #rateMy article ul {
      width: 99%;
    }
    #rateMy article ul li {
    }
    #rateMy article ul li.post {
      float: right;
      padding-bottom: 15px;
      width: 80%;
    }
    #rateMy article ul li.post ul li.postContent span.postReadMore {
      float: right;
      font-size: 0.7em;
      position: relative;
      right: 10px;
      top: -2em;
    }
    #rateMy article ul li.postImage {
      left: 4px;
      position: relative;
      width: 20%;
    }
    #rateMy article ul li img {
      position: relative;
      top: 4px;
      width: 89%;
    }
    #rateMy article ul li ul {
    }
    #rateMy article ul li ul li {
    }
    #rateMy article ul li ul li.postContent p {
      font-size: .8em;
      position: relative;
      top: -7px;
    }
    #rateMy article ul li ul li.postActions ul {}
    #rateMy article ul li ul li.postActions ul li {
      display: inline;
      margin: 0 18px;
    }
    #rateMy article ul li ul li.postActions ul li img {
      height: 16px;
      width: 16px;
    }
    #rateMy article ul li ul li ul.postMeta {
    }
    #rateMy article ul li ul li ul.postMeta li {
      display: inline;
    }
    #rateMy article ul li ul li ul.postMeta li.username {
      font-weight: 700;
      font-size: .8em;
    }
    #rateMy article ul li ul li ul.postMeta li.created {
      color: #B0B0B0;
      font-size: 0.8em;
      left: 3em;
      position: relative;
    }
    #rateMy article ul li ul li ul.postMeta li.rateUp img {
      height: 20px;
      position: relative;
      right: -4.5em;
      width: 20px;
    }
    #rateMy article ul li ul li ul.postMeta li.rateDown img {
      height: 20px;
      position: relative;
      right: -4em;
      width: 20px;
    }
    
    #chat {}
    #chat #channelForm {
      box-shadow: 1px 3px 2px 1px #A3A3A3;
      height: 100%;
      overflow: hidden;
      position: relative;
      top: -20px;
      width: 10.45%;
      z-index: 998;
    }
    #chat #channelForm form {}
    #chat #channelForm form ul {
      height: 5em;
    }
    #chat #channelForm form button {
      border-radius: 3px;
      font-size: 76%;
      font-weight: 700;
      line-height: 0.5em;
      margin: 3px 2px;
      opacity: 0.4;
      padding: 4px 0;
      width: 90%;
    }
    #chat #channelForm form button:hover {
      border: 1px solid #89C655;
      opacity: 1;
    }
    #chat #channelForm form button img {
      position: relative;
      top: -3px;
      width: 75%;
    }
    #chat ul#channellist {}
    #chat ul#channellist li {
      font-size: 0.8em;
      text-transform: uppercase;
    }
    #chat ul#channellist li.listHeading {
      font-weight: 700;
    }
    #chatList {
      float: right;
      overflow: hidden;
      position: relative;
      right: 0;
      top: 0;
      width: 88%;
    }
    #chatList li.chatPane {
      height: 12.75em;
      overflow-x: hidden;
      overflow-y: scroll;
    }
    #chatList li.chatPane ul.chatMessage {
      /*border: 1px solid green;*/
      margin: 4px 5px 10px;
    }
    #chatList li.chatPane ul.chatMessage:last-of-type {
    }
    #chatList li.chatPane ul.chatMessage li.messenger {
      /*border: 1px solid orange;*/
      font-weight: 700;
    }
    #chatList li.chatPane ul.chatMessage li.message {
      /*border: 1px solid red;*/
    }
    #sendChat .sendChatInput {
      background: none repeat scroll 0 0 #F9F9F9;
      bottom: -6px;
      height: 32px;
      left: 15%;
      position: absolute;
      width: 69%;
    }
    #sendChat .sendChatButton {
      border-radius: 3px 3px 3px 3px;
      bottom: -6px;
      float: right;
      height: 38px;
      position: absolute;
      right: 5px;
      width: 9%;
    }
    #friendsAlubmsTabContent {
    
    }
    #friendsAlbumsTabContent ul {}
    #friendsAlbumsTabContent ul li {
      display: inline-block;
    }
    #friendsAlbumsTabContent ul li button {}
    #friendsAlbumsTabContent ul li button img {
      height: 75px;
      width: 75px;
    }
    #alubmsTabContent {
      height: 397px;
      overflow-x: hidden;
      overflow-y: scroll;
    }
    #alubmsTabContent ul {
      margin: -7px 3px 0;
    }
    #alubmsTabContent ul li {
      display: inline-block;
    }
    #alubmsTabContent ul li button {
      height: 5em;
      opacity: 1;
      width: 5em;
    }
    #alubmsTabContent ul li button img {
      height: 4em;
      width: 4em;
    }
    
    /* Begin Post Form */
    #postForm {}
    #postForm h5 {}
    #postForm input {}
    #postForm input[type=checkbox] {}
    #postForm textarea {}
    #postForm select {}
    #postForm button {}
    /* End Post Form */
    
    #postViewPort {
      background: none repeat scroll 0 0 #FFFFFF;
      border: 1px solid #C6C6C6;
      border-radius: 4px 4px 4px 4px;
      display: none;
      left: 10%;
      padding: 10px 10px 30px;
      position: fixed;
      top: 10%;
      width: 80%;
    }
    
    #postViewPort h2 {
      border-bottom: 1px dotted #C0C0C0;
      font: bold 18px "Helvetica",Arial,sans-serif;
      margin: 0;
      padding: 0 0 3px;
      position: relative;
      top: -5px;
      width: 97%;
    }
    
    #postViewPort .fullURL {
      border: 1px solid #C6C6C6;
      min-height: 640px;
      overflow-x: hidden;
      overflow-y: scroll;
      width: 100%;
    }
    
    #postViewPort #postImage img {
      width: 25%;
    }
    
    #postViewPort #postMetaData {
      font-size: 14px;
      position: relative;
      top: -5px;
    }
    
    #postViewPort #postMetaData ul {}
    
    #postViewPort #postMetaData ul li {
      display: inline;
    }
    
    #postViewPort #postMetaData ul li span img {
      position: relative;
      top: 4px;
    }
    
    #postViewPort textarea {
      border: medium none;
      float: right;
      left: -15px;
      overflow-x: hidden;
      overflow-y: scroll;
      padding: 10px;
      position: relative;
      resize: none;
      top: -11px;
      width: 70%;
    }
    
    .closePostPort {
      cursor: pointer;
      float: right;
    }
    
    /* Begin Photos */
    #photoStream {
      display: block;
      height: 300px;
      overflow-x: hidden;
      overflow-y: auto;
    }
    #photoStream li {
      display: inline-block;
      width: 20%;
    }
    #photoStream li span.rateUp, #photoStream li span.rateDown {
      left: 41%;
      margin: 10px auto;
      position: relative;
    }
    .streamPhoto {
      border: 3px solid #E1E1E1;
      box-shadow: 0 0 3px 2px #CCCCCC;
      height: 6em;
      margin: 10px 20px;
      overflow: hidden;
      width: 6em;
    }
    .streamPhoto img {
      height: 100%;
      position: relative;
      width: auto;
    }
    .photoUser {
      font-size: 0.8em;
      font-weight: 700;
      padding: 6px 5px 0 18px;
    }
    /* End Photos */
    
    #userPanel {
      float: right;
    }
    #userPanel ul {
      position: relative;
      top: 6px;
      width: 16em;
    }
    #userPanel ul li {
      display: inline;
    }
    #userPanel ul li.notice {
      border-radius: 10px 10px 10px 10px;
      box-shadow: 0 0 1px 2px #89C655 inset;
    }
    #userPanel ul li.notice:hover {
      box-shadow: 0 0 1px 2px #89C655;
    }
    #userPanel ul li img:hover {
      cursor: pointer;
    }
    #userPanel ul li.userFriends img, #userPanel ul li.userNetwork img, #userPanel ul li.userNotifications img {
      bottom: 0;
      left: 0;
      position: relative;
      right: 0;
      top: 5px;
    }
    .userNotificationList {
      background: none repeat scroll 0 0 #E9E9E9;
      border: 1px solid #CCCCCC;
      color: navy;
      display: none;
      font: 0.8em verdana;
      padding: 4px;
      position: fixed;
      right: 3.6em;
      text-decoration: underline;
      top: 39px;
      width: 10.25em;
    }
    .userNotificationList li {
      margin-bottom: 5px;
    }
    #userPanel ul li.userName span {
      color: #777777;
      font-size: 0.8em;
      font-weight: 700;
    }
    
    /* Begin Ticker Styles */
    /* Ticker Styling */
    .ticker-wrapper.has-js {
      background-color: #F0F0F0;
      border: 1px solid #89C655;
      border-radius: 4px 4px 4px 4px;
      display: inline-block;
      font-size: 0.75em;
      height: 32px;
      left: 31.25%;
      padding: 0 20px;
      position: absolute;
      top: 13px;
      width: 35%;
    }
    .ticker {
      width: 98%;
      height: 23px;
      display: block;
      position: relative;
      overflow: hidden;
      background-color: #F0F0F0;
    }
    .ticker-title {
      padding-top: 9px;
      color: #89C655;
      font-weight: bold;
      background-color: #F0F0F0;
      text-transform: uppercase;
    }
    .ticker-content {
      margin: 0px;
      padding-top: 9px;
      position: absolute;
      color: #333333;
      font-weight: bold;
      background-color: #F0F0F0;
      overflow: hidden;
      white-space: nowrap;
      line-height: 1.2em;
    }
    .ticker-content:focus {
      none;
    }
    .ticker-content a {
      text-decoration: none;	
      color: #333333;
    }
    .ticker-content a:hover {
      text-decoration: underline;	
      color: #89C655;
    }
    .ticker-swipe {
      padding-top: 9px;
      position: absolute;
      top: 0px;
      background-color: #F0F0F0;
      display: block;
      width: 800px;
      height: 23px; 
    }
    .ticker-swipe span {
      margin-left: 1px;
      background-color: #F0F0F0;
      border-bottom: 1px solid #1F527B;
      height: 12px;
      width: 7px;
      display: block;
    }
    .ticker-controls {
      padding: 8px 0px 0px 0px;
      list-style-type: none;
      float: left;
    }
    .ticker-controls li {
      padding: 0px;
      margin-left: 5px;
      float: left;
      cursor: pointer;
      height: 16px;
      width: 16px;
      display: block;
    }
    .ticker-controls li.jnt-play-pause {
      background-image: url('../images/controls.png');
      background-position: 32px 16px;
    }
    .ticker-controls li.jnt-play-pause.over {
      background-position: 32px 32px;
    }
    .ticker-controls li.jnt-play-pause.down {
      background-position: 32px 0px;
    }
    .ticker-controls li.jnt-play-pause.paused {
      background-image: url('../images/controls.png');	
      background-position: 48px 16px;
    }
    .ticker-controls li.jnt-play-pause.paused.over {
      background-position: 48px 32px;
    }
    .ticker-controls li.jnt-play-pause.paused.down {
      background-position: 48px 0px;
    }
    .ticker-controls li.jnt-prev {
      background-image: url('../images/controls.png');
      background-position: 0px 16px;		
    }
    .ticker-controls li.jnt-prev.over {
      background-position: 0px 32px;		
    }
    .ticker-controls li.jnt-prev.down {
      background-position: 0px 0px;		
    }
    .ticker-controls li.jnt-next {
      background-image: url('../images/controls.png');	
      background-position: 16px 16px;	
    }
    .ticker-controls li.jnt-next.over {
      background-position: 16px 32px;	
    }
    .ticker-controls li.jnt-next.down {	
      background-position: 16px 0px;	
    }
    .js-hidden {
      display: none;
    }
    .no-js-news {
      padding: 10px 0px 0px 45px; 
      color: #F0F0F0;
    }
    .left .ticker-swipe {
      /*left: 80px;*/
    }
    .left .ticker-controls, .left .ticker-content, .left .ticker-title, .left .ticker {
        float: left;
    }
    .left .ticker-controls {
        padding-left: 6px;
    }
    .right .ticker-swipe {
      /*right: 80px;*/
    }
    .right .ticker-controls, .right .ticker-content, .right .ticker-title, .right .ticker {
        float: right;
    }
    .right .ticker-controls {
        padding-right: 6px;
    }
    /* End Ticker Styles */
    #jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999999;
	width: 100%;
	height: 500px;
}
#jquery-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999999;
	text-align: center;
	line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#lightbox-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}
#lightbox-nav-btnPrev { 
	left: 0; 
	float: left;
}
#lightbox-nav-btnNext { 
	right: 0; 
	float: right;
}
#lightbox-container-image-data-box {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding: 0 10px 0;
}
#lightbox-container-image-data {
	padding: 0 10px; 
	color: #666; 
}
#lightbox-container-image-data #lightbox-image-details { 
	width: 70%; 
	float: left; 
	text-align: left; 
}	
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
	display: block; 
	clear: left; 
	padding-bottom: 1.0em;	
}			
#lightbox-secNav-btnClose {
	width: 66px; 
	float: right;
	padding-bottom: 0.7em;	
}
  </style>
</head>
<body>
  <div id="notice"></div>
  <header id="splash_header">
    <div id="userPanel">
      <ul>
        <li class="userImage"></li>
        <li class="userName"></li>
        <li class="userOptionsToggle">
          <div class="userOptions">
            <ul>
              <li>My Account</li>
              <li>Settings</li>
              <li>Logout</li>
            </ul>
          </div>
        </li>
        <li class="userFriends"></li>
        <li class="userNetwork"></li>
        <li class="userNotifications"></li>
      <ul>
    </div>
    <img src="images/Leaf_Icon.png" class="logo_1"/><img src="images/Greenchat_Logo.png" class="logo_2"/>
    <ul id="ticker" class="js-hidden">
      <li class="news-item">Hello <% if current_user %><% Identity.where(:id => session[:user_id]).first.username %>, <% end %>Welcome To GreenChat!</li>
      <% if Post.count > 0 %>
      <li class="news-item"><%= Post.last.content[0,125] %></li>
      <li class="news-item"><%= Post.first.content %></li>
      <% end %>
    </ul>
  </header>
  <div id="splash"></div>
  <div id="signup"></div>
  <div id="signform">
    <div id="loginForm" style="display:block;">
      <%= render :partial => 'sessions/newform' %>
      <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
    </div>
    <div id="newUserForm" style="display:none;">
      <%= render :partial => 'identities/newform' %>
    </div>
  </div>
  <div id="appWrapper">
    <section id="rateMy">
      <header>
        <ul>
          <li>
            <ul>
              <li class="sizer max"></li>
              <li class="options">
                <img src="images/icons/RefreshHover.png" alt=""/>
                <img src="images/icons/SettingsHover.png" alt=""/>
              </li>
            </ul>
          </li>
          <li class="icon"><img src="images/icons/RateMy_Icon.png" class="gidgetIcon" /></li>
          <li>
            <ul>
              <li class="title">RateMy</li>
              <li class="status">Top Rated</li>
            </ul>
          </li>
        </ul>
      </header>
      <aside class="optionsShade">
        <span data-source="/posts">Top Rated</span><br/>
        <span>My Interests</span><br/>
        <span>Most Recent</span><br/>
        <span>Categories</span><br/>
        <span id="addPostLink">Post</span>
      </aside>
      <div id="postsWrapper"></div>
      <div id="postForm">
        <%= render :partial => 'posts/form1', :locals => {:post => Post.new} %>
      </div>
    </section>
    <section id="chat">
      <header>
        <ul>
          <li>
            <ul>
              <li class="sizer max"></li>
              <li class="options">
                <img src="images/icons/RefreshHover.png" alt=""/>
                <img src="images/icons/SettingsHover.png" alt=""/>
              </li>
            </ul>
          </li>
          <li class="icon"><img src="images/icons/Chat_Icon.png" class="gidgetIcon" /></li>
          <li>
            <ul>
              <li class="title">Chat</li>
              <li class="status">status</li>
            </ul>
          </li>
        </ul>
      </header>
      <aside class="optionsShade">
        <span class="conversationToggle">Conversations</span><br/>
        <span>Settings</span>
      </aside>
      <ul id="chatList">
      </ul>
      <div id="sendChat">
        <button type="button" class="sendChatButton" data-chat="andrew"><img src="images/icons/chat_bubble.png" /></button>
        <input type="text" name="" id="" class="sendChatInput" />
      </div>
      <div id="channelList">
        <%= render :partial => "channels/channels", :locals => {:channels => Channel.all} %>
      </div>
      <div class="slideUp"><span class="arrowUp"></span></div>
      <div id="channelForm">
        <%= render :partial => "channels/channelform", :locals => {:channel => Channel.new} %>
      </div>
      <div class="slideDown"><span class="arrowDown"></span></div>
    </section>
    <section id="photos">
      <header>
        <ul>
          <li>
            <ul>
              <li class="sizer max"></li>
              <li class="options">
                <img src="images/icons/RefreshHover.png" alt=""/>
                <img src="images/icons/SettingsHover.png" alt=""/>
              </li>
            </ul>
          </li>
          <li class="icon"><img src="images/icons/Photos_Icon.png" class="gidgetIcon" /></li>
          <li>
            <ul>
              <li class="title">Photos</li>
              <li class="status">status</li>
            </ul>
          </li>
        </ul>
      </header>
      <aside class="optionsShade">
        <span class="showStream">Photo Stream</span><br/>
        <span class="showFlickr">Flickr</span><br/>
        <span class="showPicasa">Picasa</span><br/>
        <span class="addPhoto">Add Photo</span>
        <span class="addAlbum">Add Album</span>
      </aside>
      <ul id="photoStream">
      
      </ul>
      <div id="photo-2">
        <div id="uploadPhotosTabContent">
          <% if current_user %>        
          <%= render :partial => "photos/form", :locals => {:photo => Photo.new(:identity_id => current_user.id)} %>
          <% end %>
        </div>
      </div>
      <div id="photo-4">
        <div id="alubmsTabContent">
          <% if current_user %>
          <%= render :partial => "albums/albumlist", :locals => {:albums => Album.find_all_by_identity_id(current_user.id)} %>
          <% end %>
        </div>
      </div>
      <div id="photo-5">
        <div id="friendsAlbumsTabContent">
          <% if current_user %>
          <%= render :partial => "friendships/myfriendlslist", :locals => {:friendslist => Friendship.find_all_by_user_id(current_user.id), :f_type => 'direct'} %>
          <%= render :partial => "friendships/myfriendlslist", :locals => {:friendslist => Friendship.find_all_by_friend_id(current_user.id), :f_type => 'inverse'} %>
          <% end %>
        </div>
      </div>
    </section>
    <section id="social">
      <header>
        <ul>
          <li>
            <ul>
              <li class="sizer max"></li>
              <li class="options">
                <img src="images/icons/RefreshHover.png" alt=""/>
                <img src="images/icons/SettingsHover.png" alt=""/>
              </li>
            </ul>
          </li>
          <li class="icon"><img src="images/icons/Social_Icon.png" class="gidgetIcon" /></li>
          <li>
            <ul>
              <li class="title">Social</li>
              <li class="status">status</li>
            </ul>
          </li>
        </ul>
      </header>
      <aside class="optionsShade">
      </aside>
    </section>
    <section id="blog">
      <header>
        <ul>
          <li>
            <ul>
              <li class="sizer max"></li>
              <li class="options">
                <img src="images/icons/RefreshHover.png" alt=""/>
                <img src="images/icons/SettingsHover.png" alt=""/>
              </li>
            </ul>
          </li>
          <li class="icon"><img src="images/icons/Blog_Icon.png" class="gidgetIcon" /></li>
          <li>
            <ul>
              <li class="title">Blog</li>
              <li class="status">status</li>
            </ul>
          </li>
        </ul>
      </header>
      <aside class="optionsShade">
        <span>My Interests</span><br/>
        <span>Categories</span><br/>
        <span>+ Add</span>
      </aside>
      <div id="blogPostForm">
      </div>
    </section>
    <section id="deals">
      <header>
        <ul>
          <li>
            <ul>
              <li class="sizer max"></li>
              <li class="options">
                <img src="images/icons/RefreshHover.png" alt=""/>
                <img src="images/icons/SettingsHover.png" alt=""/>
              </li>
            </ul>
          </li>
          <li class="icon"><img src="images/icons/Deals_Icon.png" class="gidgetIcon" /></li>
          <li>
            <ul>
              <li class="title">Deals</li>
              <li class="status">status</li>
            </ul>
          </li>
        </ul>
      </header>
      <aside class="optionsShade">
      </aside>
    </section>
  </div>
  <ul class="userNotificationList"></ul>
  <div id="ajaxLoad"><img src="images/icons/gc_ajaxPL.gif" /></div>
  <div id="manageFriends">
    <input type="text" name="searchUsers" value="" placeholder="Search Users ..." /><br />
    <ul class="manageFriendsUserList"></ul>
  </div>
  <div id="postViewPort">
    <span class="closePostPort">Close</span>
    <h2>Title</h2>
    <div id="postMetaData">
      <ul>
        <li><b>Users That Like This:</b></li>
        <li class="postScore">33%</li>
        <li><span class="rateUp"></span><span class="rateDown"></span></li>
      </ul>
    </div>
    <!--<textarea name="postViewContent" id="postViewContent"></textarea>
    <div id="postImage">
    </div>-->
  </div>
  <input type="hidden" name="userId" value="" />
</body>
</html>